h1 {
  font-family: "Kavoon", serif;
  color: $pink;
}

.title {
  font-size: 80px;
  margin: 120px;
}

.select-test-container {
  display: flex;
}

.test-buttons-container {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.test-container {
  p {
    padding: 15px 20px;
    border: 2px solid $pink;
    box-shadow: 0 0 5px 2px $pink;
    color: $fontColor;
    width: 700px;
    height: 300px;
  }
  div {
    display: flex;
    justify-content: center;
    button {
      margin: 20px;
    }
  }
}

button {
  padding: 8px 16px;
  margin: 8px;
  cursor: pointer;
  transition: 0.4s;
  background-color: $backgroundColor;
}
.pink {
  border: 2px solid $pink;
  color: $lightPink;
  box-shadow: 0 0 5px 2px $pink;
  &:hover {
    color: $backgroundColor;
    background-color: $pink;
  }
}
.blue {
  border: 2px solid $blue;
  color: $blue;
  box-shadow: 0 0 5px 2px $blue;
  &:hover {
    color: $backgroundColor;
    background-color: $blue;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid $pink;
  padding: 50px;
  box-shadow: 0 0 10px 5px $pink;
  h1 {
    margin-bottom: 50px;
  }
}
