$pink: #e406f4;
$lightPink: #e582ec;
$blue: #1585ee;
$lightBlue: #66aff3;
$transparentLightBlue: #66aff357;
$backgroundColor: #040038;
$shadowBackground: rgba(94, 94, 94, 0.603);
$fontColor: #4ef1a3;
